:root {
  --body-background-color: #f7f7f7;
  --header-footer-background-color: #898d7c;
  --nav-background-color: #c0c4b5;
  --big-container-outline-color: #c0c4b5;
  --container-outline-color: #c0c4b5;
  --h1-color: #F2EADF;
}

body {
  font-family: serif;
  background: var(--body-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 60px;
  color: var(--h1-color);
}

h2 {
  font-weight: 100;
}

h3,
h4 {
  font-weight: lighter;
}

/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
    */

@media screen and (min-width: 768px) {
  .columns {
    display: flex;
  }
}
