#book-img-bc {
    text-align: center;
}

#img-bc {
    width: 120px;
    height: 180px;
    box-shadow: 5px 5px 5px gray; 
}

#title-author-info {
    text-align: left;
}

#change-buttons {
    display: flex;
    gap: 5px;
    padding-bottom: 5px;
}

