
#toggle-nav div {
    width:35px;
    height:2px;
    background-color: black;
    margin: 6px 0;
}

#main-nav ul {
    padding-left:0;
}

#main-nav li {
    list-style-type: none;
    background: var(--nav-background-color);
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    font-size: 15px;
    margin: auto;
}

#main-nav a{
    color: black;
    text-decoration: none;
}

#main-nav a:hover {
    color: var(--h1-color);
}


.hide-small {
    display: none;
}

#main-nav button {
    cursor: pointer;
    margin-top: 10px;
    padding: 0;
    border: none;
    background: none;

}

/** Larger resolutions **/
@media only screen and (min-width: 768px) {

    #nav-items {
        display: flex;
        flex-direction: row;
    }

    #main-nav li{
        flex: 1;
    }

    #main-nav button {
        display: none;
    }
}